<p><a href="/awards">Return to your awards</a></p>
<div class="warning">
<span id="sig_id" value="{{sig_id}}"></span>
  {{#unless sig_id}}
    <p id="sigWarning">WARNING: Your signature image has not been selected. You cannot email an award without a signature!</p>
  {{/unless}}
</div>
<h1>Your Profile Information</H1>
<form id="updateProfile" action="/profile" method="post" enctype="multipart/form-data">
	<table style="width: 90%">
	    <colgroup>
	       <col span="1" style="width: 40%;">
	       <col span="1" style="width: 60%;">
	    </colgroup>
	    <tbody>

		 	  <tr>
		    	<td>First Name</td>
			    <td><input type="text" id="fname" name="fname" size="90" value="{{fname}}"/></td>
		      </tr>
		      <tr>
		    	<td>Last Name</td>
			    <td><input type="text" id="lname" name="lname" size="90" value="{{lname}}"/></td>
		      </tr>
		      <tr>
		      	<td>Signature</td>
		      	<td align="left" >
		      		<input type="hidden" name="sig_id" value={{sig_id}}/>
		      		<input type="file" id="sig_img" name="sig" accept="image/*"/>
		      		<input type="hidden" name="sig_name" value="{{sig_name}}"/>
		      		Current Signature:
              {{#if sig_id}} <a href="/signature?id={{sig_id}}">{{sig_name}}</a> {{/if}}
              {{#unless sig_id}} {{sig_name}} {{/unless}}
			  </tr>
	    </tbody>
	 </table>
	<input type="submit" value="Update Profile" name="update" onclick="return checkSignature(event, this);">
</form>

<script type="text/javascript">
	function checkSignature(e, element) {

	  var thisForm = element.parentElement;
	  var imageSubmitted = thisForm.querySelectorAll("#sig_img")[0].files[0];
	  if (imageSubmitted) {
	    var image = thisForm.querySelectorAll("#sig_img")[0].files[0].type.slice(0, 5);
	  }
	  var sig_id = document.getElementById("sig_id").attributes.value.value;
	  if (!sig_id && !image) {
	    if (confirm("Your signature is not set, add one now?")) {
	      e.preventDefault();
	    }
	    else {
	      return true;
	    }
	  }

	  if (imageSubmitted && image != "image") {
	    confirm(`Selected signature must be an image`);
	    e.preventDefault();
	  }
	}

</script>
